<nav-dir></nav-dir>

<div class="register">
  
  <form class="registerForm" ng-submit="register(newUser)">
    <div> 
      <label for="registerName">Name: </label>
      <input id="registerName" type="text" pattern="[a-zA-Z0-9 ,.'-]+" title="Your full name here" ng-model="newUser.name" required/>
    </div>
    <div>
      <label for="registerEmail">Email: </label>
      <input id="registerEmail" type="email" title="Proper email address here" ng-model="newUser.email" required/>
    </div>
    <div>
      <label for="registerPhone">Phone: </label>
      <input id="registerPhone" type="tel" pattern="(\d{3}-\d{3}-\d{4})" title="Phone format: xxx-xxx-xxxx" ng-model="newUser.phone" required/>
    </div>
    <div>
      <label for="registerUsername">Username: </label>
      <input id="registerUsername" type="username" ng-model="newUser.username" required/>
    </div>
    <div>
      <label for="registerPassword">Password: </label>
      <input id="registerPassword" type="text" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,20}$" title="Password must have only letters and/or numbers and must be between 6-20 characters" min="6" max="20" ng-model="newUser.password" required/>
    </div>
    <div>
      <button type="submit">Register</button> 
    </div>
  </form>

</div>
