<nav-dir></nav-dir>

<div class="register">
  
  <form class="registerForm" ng-submit="register(newUser)">
    <div> 
      <label for="registerName">Name: </label>
      <input id="registerName" type="text" ng-model="newUser.name" autofocus required/>
    </div>
    <div>
      <label for="registerEmail">Email: </label>
      <input id="registerEmail" type="email" title="Proper email address here" ng-model="newUser.email" required/>
    </div>
    <div>
      <label for="registerPhone">Phone: </label>
      <input id="registerPhone" type="tel" pattern="(\d{3}-\d{3}-\d{4})" title="Phone format: xxx-xxx-xxxx" ng-model="newUser.phone" required/>
    </div>
    <div>
      <label for="registerUsername">Username: </label>
      <input id="registerUsername" type="text" ng-model="newUser.username" required/>
    </div>
    <div>
      <label for="registerPassword">Password: </label>
      <input id="registerPassword" type="password" pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{6,20}$" title="Password must have at least one capital letter, one special character, and must be between 6-20 characters" min="6" max="20" ng-model="newUser.password" required/>
        <!--EXPLANATION: REGEX PATTERN FOR PASSWORD  
        ^                         Start anchor
        (?=.*[A-Z])               Ensure string has at least one uppercase letter. For two uppercase use -> (?=.*[A-Z].*[A-Z])
        (?=.*[!@#$&*])            Ensure string has at least one special case letter.
        (?=.*[0-9])               Ensure string has at least one digit. For two digits use -> (?=.*[0-9].*[0-9])
        .{6,20}                  Ensure string is of length 6 - 20.
        $                         End anchor.
        end explanation-->

    </div>
    <div>
      <button type="submit">Register</button> 
    </div>
  </form>

</div>
